
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
      <h1>@ViewBag.ArticleName </h1>
        <div>
            @Html.ActionLink("Administration login page", "Index", "Home", new { area = "Admin" }, null);

        </div>
        <div>
           gallery place here
        </div>
      
    </div>
</body>
</html>
