
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gallery Admin area Login Page</title>
</head>
<body>
    <div> 
        @Html.ActionLink("Home link to main area", "Index", "Home", new { area = "" }, null);
        Add login here
    </div>
</body>
</html>
