
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin</title>
</head>
<body>
    <div> Admin page
    </div>
    <div>@Html.ActionLink("Home page - gallery", "Index", "Home", new { area = "" }, null)</div>
</body>
</html>
