
@using MVC_Lab1_3.Areas.Admin.Models
@{
    ViewBag.Title = "Index";

}

<h1>
    Gallery addministration
</h1>
@{ 
    var user = Session["user"] as User;
    

}

@if (user != null)
{
  <H2>Welcome  @user.Name
    @Html.ActionLink("Logout", "Logout", "Login");

    </h2>
    <div>Add image to gallery</div>
    <div>Look att gallery(start page)</div>
}